<h2 class="title-page"><%= moovie.title %></h2>
<div class="row">
    <img src="<%= moovie.coverImagePath %>" width="300" height="500">
    <div id="text" class="ml-4">
        <div class="about-text">Director : <%= moovie.author.name %></div>
        <div class="about-text">Publish Date : <%= moovie.publishDate.toDateString() %></div>
        <div class="about-text">Duration : <%= moovie.durationHour %>h<%= moovie.durationMin %> min</div>
        <div class="about-text">Description : <%= moovie.description %></div>
    </div>
    
    

</div>

<div>
    <a style="position: absolute; right: 1100px; top: 675px;" href="/moovies/<%= moovie.id %>/edit"><button type="button" class="btn btn-outline-secondary">Edit</button></a>
    <a style="position: absolute; right: 950px; top: 675px;" href="/authors/<%= moovie.author.id %>"><button type="submit" class="btn btn-outline-warning">View Author</button></a>
</div>
<form method="POST" action="/moovies/<%= moovie.id %>?_method=DELETE">
    <div class="">
        <button type="submit" class="btn btn-outline-danger" style="position: absolute; right:600px;top: 675px;">Delete</button>
    </div>
</form> 
<hr>
<style>
    img{   
        object-fit: cover;
        border: 1px solid black;
    }
    .about-text{
        font-weight: 100;
        margin-top: 1rem;
    }
</style>