<h2> <%= author.name %> </h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', 
            { url: `/authors/${author.id}`}) %>

<% if(mooviesByAuthor.length > 0) { %>
    <h2>Moovies By Author</h2>
    <% mooviesByAuthor.forEach(moovie => { %>
        <a href="/moovies/<%= moovie.id %>">
            <img height='150' width="100" src="<%= moovie.coverImagePath %>">
        </a>
    <% }) %> 
<% } %>